body
{
    background-color: beige;
}

#square
{
    width: 150px;
    height: 150px;
    background: rgb(76, 145, 76);

    transition-property: width, height, background-color;
    transition-duration: 1s, 2s, 1s;
    transition-timing-function: ease-in-out, linear, ease-out;
    transition-delay: 0.5s, 0s, 0s;
}

#square:hover
{
    width: 300px;
    height: 300px;
    background-color: blue;
}